/*  ========================================================================  *\
    H T M L  -  B O D Y
\*  ========================================================================  */

body {
    width:            100%;
    height:           100%;

    margin:            0;
    padding:           0;

    background-color:  lightyellow;
}


/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */

header {
    position:  relative;

    width:     100%;
    height:    25vh;
}

    .top-left-header, .top-right-header,
    .bottom-left-header, .bottom-right-header {
            
        width:    calc(50% - 4.5vh);
        height:   10vh;
        margin:   0vh;
        padding:  1vh 2vh 1vh 2vh;
    }

    .top-left-header {
        position:       absolute;
        top:            0;
        left:           0;

        border-bottom:  1vh dashed rgba(255, 0, 0, 1);
        border-radius:  0vh 0vh 5vh 0vh;

        color:          red;
        text-align:     right;
    }

    .top-right-header {
        position:       absolute;
        top:            0;
        right:          0;

        border-left:    1vh dashed rgba(0, 128, 0, 1);
        border-radius:  5vh;

        color:          green;
        text-align:     left;
    }

    .bottom-left-header {
        position:       absolute;
        bottom:         0;
        left:           0;

        border-right:   1vh dotted rgba(0, 0, 255, 1);
        border-radius:  5vh;

        color:          blue;
        text-align:     right;
    }

    .bottom-right-header {
        position:       absolute;
        bottom:         0;
        right:          0;

        border-top:     1vh dotted rgba(255, 255, 0, 1);
        border-radius:  5vh 0vh 0vh 0vh;

        color:          yellow;
        text-align:     left;
    }


/*  ========================================================================  *\
    M A I N  a n d  C A L C U L A T O R
\*  ========================================================================  */

main {
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    align-items:      center;

    width:            auto;
    height:           70vh;
}

    .calculator {
        width:             auto;
        padding:           1vh;

        border:            1px solid grey;
        border-radius:     1vh;
        background-color:  gray;
    
        box-shadow:        0 2px 5px rgba(0, 0, 0, 0.1);
    }

        .display {
            overflow:          auto;

            height:            12vh;
            margin-bottom:     1vh;
            padding:           1vh;

            background-color:  whitesmoke;

            border:            0.2vh solid #ccc;
            border-radius:     0.5vh; 

            text-align:        right;
        }

        .buttons {
            display:                grid;
            grid-template-columns:  repeat(4, 3fr);
            gap:                    0.7vh;
        }


/*  ========================================================================  *\
    F O O T E R
\*  ========================================================================  */

footer {
    width:       calc(100% - 6vw);
    height:      auto;  /*  padding-top + font-size + padding-bottom = 5vh  */
    padding:     1vh 3vw 1vh 3vw;

    color:       blueviolet;
    text-align:  center;
}


/*  ========================================================================  *\
    C O M P O N E N T ' S
\*  ========================================================================  */

    h1 {
        font-family:  "Spicy Rice", serif;
        font-size:    10vh;  /*10vh;*/
    }

    h2 {
        font-family:     "Spicy Rice", serif;
        font-size:       5vh;  /*5vh;*/
        letter-spacing:  0.5vh;
    }

    h3, .display, button {
        font-family:  "Spicy Rice", serif;
        font-size:    4vh;
    }

    h4 {
        font-family:  "Spicy Rice", serif;
        font-size:    2vh;
    }

    a, a:hover {
        cursor:           pointer;
        text-decoration:  none;

        font-family:      "Spicy Rice", serif;
        font-size:        3vh;
        color:            blue;
    }

    button {
        cursor:            pointer;

        width:             11vh;
        height:            9.5vh;

        border:            none;
        border-radius:     5px;

        background-color:  lightyellow;
    }

        button:hover {
            background-color:  orange;
        }


    h1, h2, a, a:hover {
        text-shadow: -0.2vh -0.2vh black, 0.5vh 0.5vh 0.5vh gray;
    }


/*  ========================================================================  *\
    @ m e d i a ( m a x - w i d t h :  7 6 8 p x )
\*  ========================================================================  */       

        @media(max-width: 768px) {
            header {
                height:    15vh;
            }
                .top-left-header, .top-right-header,
                .bottom-left-header, .bottom-right-header {height: 5vh;}
    
            h1 {font-size: 5vh;}
            h2 {font-size: 2.5vh;}
            h1, h2, a, a:hover {
                text-shadow: -0.1vh -0.1vh black, 0.25vh 0.25vh 0.25vh grey;
            }
    
            main {height: 78vh;}
    
            footer {height: 5vh;}  /*  padding-top + font-size + padding-bottom = 5vh  */
        }
/*  ========================================================================  *\
    B A C K G R O U N D ' S - E D I T O R  M O D E
\*  ========================================================================  */

/*header {background-color: blueviolet;}
    .top-left-header, .bottom-right-header {background-color: gray;}
main   {background-color: yellowgreen;}
footer {background-color: orangered;}